$secondary: rgba(209, 216, 224, 1);
$secondary-100: rgba(244, 248, 252, 1);
$secondary-200: rgba(231, 238, 245, 1);
$secondary-300: rgba(230, 241, 246, 1);
$secondary-500: rgba(176, 184, 191, 1);
$secondary-600: rgba(98, 107, 120, 1);

$primary: rgba(0, 112, 168, 1);
$primary-300: rgba(0, 88, 133, 1);
$primary-700: rgba(0, 40, 85, 1);

$tertiary: rgba(179, 212, 229, 1);
$tertiary-100: rgba(204, 226, 238, 1);

$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$red: rgba(249, 60, 60, 1);
$transparent: rgba(255, 255, 255, 0);
