@import 'mixins';

.с-check {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  &:hover {
    box-shadow: 0 0 0 4px $secondary-middle;
    background-color: $secondary-middle;
    border-radius: 2px;
  }

  &.c-check--size-lg:hover {
    border-radius: 3px;
  }

  .form-check-input {
    margin-top: 0;
    cursor: pointer;
  }

  .form-check-input:disabled + .form-check-label {
    color: $secondary-dark;
  }

  .form-check-input:checked:disabled,
  .form-check-input:disabled,
  .form-check-input.indeterminate:disabled {
    pointer-events: none;
    filter: none;
    opacity: 1;
    border-color: $secondary;
  }

  .form-check-input:checked:disabled {
    background-color: $secondary;
  }

  .form-check-input:disabled {
    background-color: $secondary-light;
  }

  .form-check-input.indeterminate:disabled {
    background-color: transparent;
  }

  .form-check-input.indeterminate {
    border-color: $primary;
    position: relative;
  }

  .form-check-input.indeterminate::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: block;
    width: 8px;
    border-bottom: 1px solid $primary;
  }

  &.input-group-lg {
    .form-check-input.indeterminate::after {
      width: 10px;
      border-bottom-width: 1.25px;
    }
  }

  .form-check-input.indeterminate:disabled::after {
    border-color: $secondary;
  }

  .form-check-input.indeterminate:checked::after {
    display: none;
  }

  &.c-check--size-lg {
    @include size($checkbox-size-lg, $font-size-label-lg,  $line-height-label-lg);
  }

  &.c-check--size-sm {
    @include size($checkbox-size-sm, $font-size-label-sm,  $line-height-label-sm);
  }
}
