@import 'mixins';

.с-check {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    box-shadow: 0 0 0 0.25rem $secondary-middle;
    background-color: $secondary-middle;
    border-radius: 0.125rem;
  }

  &.c-check--size-lg:hover {
    border-radius: 0.25rem;
  }

  .form-check-input {
    margin-top: 0;
    cursor: pointer;
  }

  .form-check-input:disabled + .form-check-label {
    color: $secondary-dark;
  }

  .form-check-input:checked:disabled,
  .form-check-input:disabled {
    pointer-events: none;
    filter: none;
    opacity: 1;
    border-color: $secondary;
  }

  .form-check-input:checked:disabled {
    background-color: $secondary;
  }

  .form-check-input:disabled {
    background-color: $secondary-light;
  }

  &.c-check--size-lg {
    @include size($checkbox-size-lg, $font-size-label-lg,  $line-height-label-lg);

    .form-check-input[type=checkbox]:indeterminate {
      background-size: 0.625rem;
    }
  }

  &.c-check--size-sm {
    @include size($checkbox-size-sm, $font-size-label-sm,  $line-height-label-sm);

    .form-check-input[type=checkbox]:indeterminate {
      background-size: 0.5rem;
    }
  }
}
