$c-badge-height-sm: 1.25rem;
$c-badge-font-size-sm: 0.75rem;
$c-badge-icon-size-sm: 0.625rem;
$c-badge-line-height-sm: 1rem;
$c-badge-border-radius-sm: 0.375rem;

$c-badge-height-lg: 1.5rem;
$c-badge-font-size-lg: 0.875rem;
$c-badge-icon-size-lg: 0.75rem;
$c-badge-line-height-lg: 1.25rem;
$c-badge-border-radius-lg: 1.25rem;

$c-badge-font-weight: 400;
$c-badge-text-color: $black;
$c-badge-padding-y: 0.125rem;
$c-badge-padding-x: 0.375rem;

$c-badge-default-bg-color: $secondary-200;
$c-badge-default-inverted-bg-color: $white;
$c-badge-important-bg-color: $error;
$c-badge-primary-bg-color: $primary;
$c-badge-color-text: $white;
$c-badge-added-bg-color: $success-100;
$c-badge-added-text-color: $success-500;
$c-badge-removed-bg-color: $error-100;
$c-badge-removed-text-color: $error-500;

/* bootstrap variables */
$badge-font-size: $c-badge-font-size-sm;
$badge-font-weight: $c-badge-font-weight;
$badge-color: $c-badge-text-color;
$badge-padding-y: $c-badge-padding-y;
$badge-padding-x: $c-badge-padding-x;
$badge-border-radius: $c-badge-border-radius-sm;
