@import '_mixins';

.c-expansionPanel {
  & > .btn {
    position: relative;

    /* primary */
    &.btn-primary {
      color: black;
      font-weight: $btn-font-weight;
      @include bg-color($btn-primary-bg-color);
      border-radius: 0;
      padding: 0.875rem 1rem;
    }

  }

}
