@import '_mixins';

.с-btn.btn {
  display: flex;
  align-items: center;
  gap: 4px;

  &.btn-primary:hover {
    @include bg-color($primary-hover);
  }

  &.btn-secondary:hover {
    @include bg-color($secondary-hover);
  }

  &.btn-primary:disabled,
  &.btn-primary.disabled {
    @include bg-color($primary-disabled);
  }

  &.btn-secondary:disabled,
  &.btn-secondary.disabled {
    @include bg-color($secondary-disabled);
    color: $secondary-disabled-text;
  }

  &.btn-link {
    font-weight: $btn-font-weight;
  }

  & svg,
  &.btn-lg svg {
    @include icon-size(14px);
  }

  &.btn-sm svg {
    @include icon-size(12px);
  }

  & svg:only-child {
    margin: 2px 0;
  }

  & svg:only-child,
  &.btn-lg svg:only-child {
    @include icon-size(16px);
  }
}
