@import '_mixins';

.c-btn.btn {
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: $btn-size-gap;

  .c-btn__decorator {
    display: none;
  }

  /* primary */
  &.btn-primary:disabled,
  &.btn-primary.disabled {
    @include bg-color($secondary-dark);
  }

  &.btn-primary.focus:hover,
  &.btn-primary.c-btn-selected:hover,
  &.btn-primary:hover {
    @include bg-color($primary-dark);
  }

  &.btn-primary.c-btn-selected {
    @include bg-color($primary-medium);
  }

  /* secondary */
  &.btn-secondary:hover {
    @include bg-color($primary-dark);
    color: $white;
  }

  &.btn-secondary:disabled,
  &.btn-secondary.disabled {
    @include bg-color($secondary-light);
    color: $secondary-dark;
  }

  /* link */
  &.btn-link {
    font-weight: $btn-font-weight;
  }

  &.btn-link:hover,
  &.btn-link.hover {
    color: $primary-dark;

    & > .c-btn__decorator {
      display: block;
      position: absolute;
      border-bottom: 1px solid $primary-dark;
    }
  }

  &.btn-lg.btn-link {
    @include btn-link-decorator-size($btn-padding-x-lg, $btn-padding-y-lg, $btn-icon-size-lg, $btn-size-gap);
  }

  &.btn-sm.btn-link {
    @include btn-link-decorator-size($btn-padding-x-sm, $btn-padding-y-sm, $btn-icon-size-sm, $btn-size-gap);
  }

  /* icon-link */
  &.btn-icon-link {
    color: $primary;
  }

  &.btn-icon-link:hover,
  &.btn-icon-link.hover {
    @include bg-color($secondary-light);
    color: $primary-dark;
  }

  &.btn-icon-link:disabled,
  &.btn-icon-link.disabled {
    color: $secondary-dark;
  }

  &.btn-lg {
    @include btn-size($btn-height-lg);
  }

  &.btn-sm {
    @include btn-size($btn-height-sm);
  }

  & svg,
  &.btn-lg svg {
    @include icon-size($btn-icon-size-lg);
  }

  &.btn-sm svg {
    @include icon-size($btn-icon-size-sm);
  }

  /* only icon child */
  & svg:only-child {
    margin: 0.125rem 0;
  }
}
