@import '_mixins';

.c-dropdown > .btn {
  position: relative;

  /* primary */
  &.btn-primary:disabled,
  &.btn-primary.disabled {
    @include bg-color($btn-primary-disabled-bg-color);
  }

  &.btn-primary.focus:hover,
  &.btn-primary.c-btn-selected:hover,
  &.btn-primary:hover {
    @include bg-color($btn-primary-hover-bg-color);
  }

  /* secondary */
  &.btn-secondary:hover {
    @include bg-color($btn-secondary-hover-bg-color);
    color: $btn-secondary-hover-text-color;
  }

  &.btn-secondary:disabled,
  &.btn-secondary.disabled {
    @include bg-color($btn-secondary-disabled-bg-color);
    color: $btn-secondary-disabled-text-color;
  }

  /* link */
  &.btn-link {
    font-weight: $btn-font-weight;
  }

  &.btn-lg.btn-link {
    @include btn-link-before-size($btn-padding-x-lg, $btn-padding-y-lg);
  }

  &.btn-sm.btn-link {
    @include btn-link-before-size($btn-padding-x-sm, $btn-padding-y-sm);
  }

  &.btn-link:hover,
  &.btn-link.hover {
    color: $btn-link-hover-text-color;

    &::before {
      content: '';
      display: block;
      position: absolute;
      border-bottom: 1px solid $btn-link-hover-text-color;
    }
  }

  /* icon-link */
  &.btn-icon-link {
    color: $btn-icon-link-text-color;
  }

  &.btn-icon-link:hover,
  &.btn-icon-link.hover {
    @include bg-color($btn-icon-link-hover-bg-color);
    color: $btn-icon-link-hover-text-color;
  }

  &.btn-icon-link:disabled,
  &.btn-icon-link.disabled {
    color: $btn-icon-link-disabled-text-color;
  }

  &.btn-lg {
    @include btn-size($btn-height-lg);
  }

  &.btn-sm {
    @include btn-size($btn-height-sm);
  }
}
